In [1]:
import pandas as pd
import numpy as np

In [2]:
o_data = pd.read_csv('data/tsd_train.csv')

In [3]:
o_data.head()

,spans,text
0,"[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...",Another violent and aggressive immigrant killi...
1,"[33, 34, 35, 36, 37, 38, 39]","I am 56 years old, I am not your fucking junio..."
2,"[0, 1, 2, 3]","Damn, a whole family. Sad indeed."
3,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]",What a knucklehead. How can anyone not know th...
4,"[32, 33, 34, 35, 36, 37, 38]","""who do you think should do the killing?""\n\nA..."

In [60]:
len(o_data.iloc[1]['spans'][1:-1])

26

In [48]:
o_data.iloc[5]['text']

'But, but, but, is NOT a defense.  It\'s not even a good deflection.  In America today we have Nazis waving the Nazi flag at rallies in our cities. In what capacity does anyone think this is ok and who would not see that as a problem?\n\nEnough with the "Well what about blah blah" garbage.'

In [6]:
o_data[0:2]

,spans,text
0,"[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...",Another violent and aggressive immigrant killi...
1,"[33, 34, 35, 36, 37, 38, 39]","I am 56 years old, I am not your fucking junio..."

In [ ]:
#data = pd.DataFrame(columns=['Sentence #','Word','POS','Tag'])
t = []

In [123]:
t = []
for index, row in o_data.iterrows():
    sent = index+1
    word = ""
    span_word = ""
    spans_pos = list(map(int,row['spans'][1:-1].split(","))) if len(row['spans'][1:-1])!=0 else []
    text = row['text'].replace("\n", " ")
    for pos,char in enumerate(text):
        if pos in spans_pos:
            if word != "":
                #print("w" + " "+word)
                t.append((sent,word.strip(),0,'O')) if span_word.strip() != '' else 0
                word = ""
            if char in (" ") and span_word.strip() != "":
                #print("s" + " "+span_word.strip())
                t.append((sent,span_word.strip(),0,'T')) if span_word.strip() != '' else 0
                span_word = ""
                continue
            if char in (',','.','"','?'):
                #print("s" + " "+span_word.strip())#if not ""
                t.append((sent,span_word.strip(),0,'T')) if span_word.strip() != '' else 0
                #print("s" + " "+c)
                t.append((sent,char,0,'T'))
                span_word = ""
                continue
            span_word += char
        else:
            if span_word != "":
                #print("s" + " "+span_word)
                t.append((sent,span_word.strip(),0,'T')) if span_word.strip() != '' else 0
                span_word = ""
            if char in (" ") and word.strip() != "":
                #print("w" + " "+word.strip())
                t.append((sent,word.strip(),0,'O')) if word.strip() != '' else 0
                word = ""
                continue
            if char in (',','.','"','?'):
                #print("w" + " "+word.strip())#if not ""
                t.append((sent,word.strip(),0,'O')) if word.strip() != '' else 0
                #print("w" + " "+c)
                t.append((sent,char,0,'O'))
                word = ""
                continue
            word += char

    if span_word.strip() != "":
        #print("s" + " "+span_word)
        t.append((sent,span_word.strip(),0,'T'))
    if word.strip() != "":
        #print("w" + " "+word)
        t.append((sent,word.strip(),0,'O'))

In [124]:
data = pd.DataFrame(t)

In [125]:
data.to_csv('data/tag_data.csv',index=False,header=['Sentence #','Word','POS','Tag'])

In [128]:
data.shape[0]

329096