In [7]:
import numpy as np
import pandas as pd
import sklearn
from sklearn.metrics import accuracy_score

In [2]:
test_data = pd.read_csv('tsd_test.csv')
test_sentenses = test_data['text']
len(test_sentenses)

2000

In [3]:
char_labels = []
for index, row in test_data.iterrows():
    spans_pos = list(map(int,row['spans'][1:-1].split(","))) if len(row['spans'][1:-1])!=0 else []
    char_label =  np.zeros((len(row['text']),), dtype=int)
    char_label[spans_pos] =1
    char_labels.append(char_label)
len(char_labels)

2000

In [8]:
import sklearn
def f1(y_true, y_predict):
    f1_scores = []
    for i,prediction in enumerate(y_predict):

        if sum(prediction) == 0 and sum(y_true[i]) ==0:
            f1=1.0
        else:
            f1 = sklearn.metrics.f1_score(y_true[i], prediction)
        f1_scores.append(f1)
    f1_arr = np.array(f1_scores)
    return f1_arr.mean(),f1_arr

# BERT-NER with Cross Entropy Loss result

In [11]:
f = open("BERT-NER-CEL-result.txt", "r")
lines = f.readlines()
result  = []
for line in lines:
    result.append(np.array(list(map(int,line[:-1].split(",")))))

In [12]:
score, f1_arr = f1(char_labels,result)

In [13]:
score

0.6596689891366586

# BERT-NER with Dice Loss resultÂ¶

In [14]:
f = open("BERT-NER-DL-result.txt", "r")
lines = f.readlines()
result  = []
for line in lines:
    result.append(np.array(list(map(int,line[:-1].split(",")))))

In [15]:
score, f1_arr = f1(char_labels,result)

In [16]:
score

0.6551207172363679

# SHAP Values based Classifier result

In [17]:
prediction_1 = pd.read_csv('submission1.csv')
prediction_1.head()

   Unnamed: 0  sentence_idx                           span
0           1             0                      [0 1 2 3]
1          23             0  [ 94  95  96  97  98  99 100]
2          24             0                          [102]
3          25             0                      [103 104]
4          26             0                  [106 107 108]

In [18]:
prediction_1.drop('Unnamed: 0',inplace=True,axis=1)

In [19]:
prediction_1.head()

   sentence_idx                           span
0             0                      [0 1 2 3]
1             0  [ 94  95  96  97  98  99 100]
2             0                          [102]
3             0                      [103 104]
4             0                  [106 107 108]

In [20]:
char_prediction_1 = []
for index, row in test_data.iterrows():
    char_prediction =  np.zeros((len(row['text']),), dtype=int)
    
    for index, row in prediction_1[prediction_1['sentence_idx']==index].iterrows():
        spans_pos = list(map(int,row['span'][1:-1].split()))
        char_prediction[spans_pos] =1
    
    char_prediction_1.append(char_prediction)

In [21]:
len(char_prediction_1)

2000

In [22]:
score, f1_arr = f1(char_labels,char_prediction_1)

In [23]:
score

0.36471145841241664